<header class="header">
  <h1>projects</h1>
  <input class="new-todo" placeholder="Do you have a new Project?" autofocus #addProjectBox (keypress)="addProject($event, addProjectBox.value);">
</header>

<section class="main">
  <input id="toggle-all" class="toggle-all" type="checkbox">
  <label for="toggle-all">Mark all as complete</label>
  <ul class="todo-list">
    <app-project-listicle *ngFor="let project of projects" [id]="project.id" [name]="project.name"></app-project-listicle>
  </ul>
</section>
