<li [ngClass]="{completed: selected}">
  <div class="view"
       [ngStyle]="{ display: (editMode)?'none':'block' }"
       (dblclick)="editMode=!editMode">
    <input class="toggle" type="checkbox" [checked]="selected" (click)="toggleSelected()">
    <label>{{ name }} - {{ id }}</label>
    <select class="priority-dropdown {{ priority }} " #priorityDropdown (change)="changePriority(priorityDropdown.value)" >
      <option value="h" [selected]="priority==='h'">High</option>
      <option value="m" [selected]="priority==='m'">Medium</option>
      <option value="l" [selected]="priority==='l'">Low</option>
    </select>
    <button class="destroy" (click)="destroyItem()"></button>
  </div>
  <input class="edit" [value]="name" #editBox
         [ngStyle]="{ display: (!editMode)?'none':'block' }"
         (blur)="changeItemName($event, editBox.value)"
         (keypress)="changeItemName($event, editBox.value)">
</li>
