.priority-dropdown {
  display: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: absolute;
  top: 0;
  right: 50px;
  bottom: 0;
  height: 30px;
  margin: auto 0;
  font-size: 15px;
  color: white;
  font-weight: bold;
  transition: color 0.2s ease-out;
  background: transparent;
  border: none;
  border-radius: 30px;
  padding: 0px 10px;
}

option {
  background: white;
  color: black;
}

.h {
  background: rgba(211, 63, 73, 0.63);
}

.m{
  background: rgba(34, 116, 165, 0.63);
}

.l {
  background: rgba(149, 180, 106, 0.63);
}

li:hover .priority-dropdown{
  display: block;
}


