<li>
  <a [routerLink]="['/', 'project', id]" class="view" [ngStyle]="{ display: (editMode)?'none':'block' }" title="{{ name }}">
    <label><i class="far fa-folder"></i> {{name}}</label>
    <button class="editButton" (click)="switchMode($event)"><i class="fas fa-pencil-alt"></i></button>
    <button class="destroy" (click)="destroyProject()"></button>
  </a>
  <input class="edit" #editBox [value]="name"
         [ngStyle]="{ display: (!editMode)?'none':'block' }"
         (blur)="changeProjectName($event, editBox.value)"
         (keypress)="changeProjectName($event, editBox.value)">
</li>
