<li>
  <a [routerLink]="['/', 'todo', id]" class="view"
     [ngStyle]="{ display: (editMode)?'none':'block' }"
     (dblclick)="editMode=!editMode"
     title="{{ name }}">

    <label><i class="fas fa-list-ol"></i> {{name}}</label>
    <button class="destroy" (click)="destroyTodo()"></button>

  </a>

  <input class="edit" #editBox
         [value]="name"
         [ngStyle]="{ display: (!editMode)?'none':'block' }"
         (blur)="changeTodoName($event, editBox.value)"
         (keypress)="changeTodoName($event, editBox.value)">
</li>
