li label{
  padding-left: 15px;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover{
  background: rgba(225, 225, 225, 0.42);
}

.fas {
  padding: 0 10px;
}


.editButton{
  display: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: absolute;
  top: 0;
  right: 50px;
  bottom: 0;
  margin: auto 0;
  color: white;
  transition: color 0.2s ease-out;
  background: transparent;
  border: none;
  border-radius: 3px;
  padding: 0 10px;
  font-size: 18px;
  color:black;
  font-weight: 600;
  height: 32px;
  line-height: 32px;
}


li:hover .editButton{
  display: block;
}
